.icon {
	color: green;
}

/*								*
*			trust.html 			*
*								*/

.cropper.home-header {
    background-image: url('../assets/home/lyon3.jpg');
}

.bg-header {
	background-image : url('../assets/header.png');
	color : white;
	padding: 50px 0px 50px 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #238110;
	text-align: center;
}

.title-header{
	font-size: 4em;
	line-height: 1em;
}

.text-green {
	color : green;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-part {
    padding-left: 50px;
    padding-right: 50px;
}